:root {
    --c-primary-50: 239, 246, 255;
    --c-primary-100: 219, 234, 254;
    --c-primary-200: 191, 219, 254;
    --c-primary-300: 147, 197, 253;
    --c-primary-400: 96, 165, 250;
    --c-primary-500: 59, 130, 246;
    --c-primary-600: 37, 99, 235;
    --c-primary-700: 29, 78, 216;
    --c-primary-800: 30, 64, 175;
    --c-primary-900: 30, 58, 138;
    // SECONDARY COLOR
    --c-secondary-50: 240, 253, 250;
    --c-secondary-100: 204, 251, 241;
    --c-secondary-200: 153, 246, 228;
    --c-secondary-300: 153, 246, 228;
    --c-secondary-400: 45, 212, 191;
    --c-secondary-500: 20, 184, 166;
    --c-secondary-600: 13, 148, 136;
    --c-secondary-700: 15, 118, 110;
    --c-secondary-800: 17, 94, 89;
    --c-secondary-900: 19, 78, 74;
    // NEUTRAL COLOR
    --c-neutral-50: 248, 250, 252;
    --c-neutral-100: 241, 245, 249;
    --c-neutral-200: 226, 232, 240;
    --c-neutral-300: 203, 213, 225;
    --c-neutral-400: 148, 163, 184;
    --c-neutral-500: 100, 116, 139;
    --c-neutral-600: 71, 85, 105;
    --c-neutral-700: 51, 65, 85;
    --c-neutral-800: 30, 41, 59;
    --c-neutral-900: 15, 23, 42;
}
